//- doctype
//- html
//-     include includes/header.pug
//-     body
//-         div(class='container')
//-             h1 Are you going?
            
//-             p= typeof msg != 'undefined' ? msg : ''
            
//-             form(method='POST' action='/register')
//-                 div.form-group
//-                     label(for='name') Name:
//-                     input#name.form-control(type='text', placeholder='first and last' name='name')
//-                 div.form-group
//-                     label(for='email') Email:
//-                     input#email.form-control(type='email', placeholder='name@email.com' name='email')
//-                 div
//-                     input(type="radio", id="contactChoice1", name="contact", value="email")
//-                     label(for="contactChoice1")="Email"
//-                     input(type="radio", id="contactChoice2", name="contact", value="phone")
//-                     label(for="contactChoice2")="Phone"
//-                     input(type="radio", id="contactChoice3",name="contact", value="mail")
//-                     label(for="contactChoice3")="Mail"
//-                     button.btn.btn-primary(type='submit') Submit
                
            
//-             input(class="btn", type="button", value="Go back!", onclick="history.back()")
                
//-             input(class="btn", type="button", value="home", onclick="window.location.href='http://localhost:3000'")
//-             div(id="images")
            
//-         script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
//-         script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")
//-         script(src="index.js")